@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700;800&family=Alegreya:wght@400;500;600;700&display=swap");

/*
font-family: 'Alegreya', serif;
font-family: 'Alegreya Sans', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  list-style: none;
}

.margin-1 {
  margin: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.margin-not-top {
  margin: 0 1rem 1rem 1rem;
}

:root {
  --blue: #b7c6d7;
  --orange: #dc7c59;
  --almost-white: #fcfaf8;
}

footer {
  padding: 2vw;
  background-color: var(--blue);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.start {
  align-items: flex-start;
}

.title {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
  padding: 2vw;
  background-color: var(--blue);
}

.page-title {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--orange);
}

.medium-text {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

.bigger-text {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
}

.button-text {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
}

.button-text:hover {
  text-decoration: none;
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

header,
.review{
  grid-template-columns: auto 1fr;
}

.read-books {
  grid-template-columns: auto auto 1fr;
}

.first-page {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.my-tbr-list {
  grid-template-columns: 3fr 2fr 2fr 1fr;
}

.your-tbr-list {
  grid-template-columns: repeat(4, 2fr) 1fr;
}

.reviews-main {
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.review {
  grid-template-rows: auto 1fr auto 1fr 0.5fr 0.5fr 0.5fr auto;
  padding: 1rem;
  border: 0.5rem solid var(--orange);
}

.review img {
  grid-row: 1 / 8;
  padding-right: 1rem;
  max-width: 200px;
}

.review button,
.book-list button,
.my-tbr-list button,
.your-tbr-list button {
  max-width: 50vw;
  border-radius: 2px;
  border: 0.25rem solid var(--orange);
  background-color: white;
  color: var(--orange);
}

.book-list button:hover,
.my-tbr-list button:hover,
.your-tbr-list button:hover {
  border-color: white;
  background-color: var(--orange);
  color: white;
}

.review-text {
  margin: 1rem 0 0.5rem 0;
}

.book-list {
  grid-template-columns: 3fr 2fr 1fr 1fr 1fr;
}

.currently-reading {
  place-self: center;
}

.read-books {
  margin: 1rem;
}

.year-btn {
  align-self: end;
  margin: 0 2rem 1rem 0;
}

.span-end {
  grid-column: 1 / -1;
}

.span-2 {
  grid-column: span 2;
}

.span-2-row {
  grid-row: span 2;
}

.span-3 {
  grid-column: span 3;
}

.page-logo {
  background-color: var(--orange);
  padding: 2vw;
}

.page-logo a {
  color: var(--almost-white);
  font-family: "Alegreya Sans", sans-serif;
  font-size: 2rem;
  font-weight: 800;
}

.page-logo a:hover {
  text-decoration: none;
}

nav {
  margin-top: 2vw;
  margin-left: 10vw;
}

.change-color {
  background-color: var(--orange);
  color: var(--almost-white);
}

.border-thing {
  position: relative;
  margin: 2vw;
}

.border-thing h1 {
  padding: 2vw 0 0 2vw;
}

.border-thing p {
  padding: 0 2vw 2vw 0;
  text-align: end;
}

.border-thing:before,
.border-thing:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  pointer-events: none;
}

.border-thing:before {
  top: 0;
  left: 0;
  right: 65%;
  bottom: 45%;
  border-top: 0.35rem solid var(--blue);
  border-left: 0.35rem solid var(--blue);
}

.border-thing:after {
  top: 45%;
  left: 65%;
  right: 0%;
  bottom: 0;
  border-bottom: 0.35rem solid var(--blue);
  border-right: 0.35rem solid var(--blue);
}

@media screen and (max-width: 450px) {
  * {
    font-size: 12px;
  }

  p,
  a {
    font-size: 1.5rem;
  }

  .reviews-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .review img {
    grid-row: 1 / 8;
    padding-right: 1rem;
    max-width: 150px;
  }

  .border-thing {
    max-width: 90vw;
  }

  nav {
    flex-direction: column;
  }
}
