* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

:root {
  --blue: #b7c6d7;
  --orange: #dc7c59;
  --almost-white: #fcfaf8;
}

nav {
  background-color: var(--blue);
  padding: 2vw;
}

main {
  margin: 1rem;
}

footer {
  background-color: var(--orange);
  padding: 2vw;
}

ul {
  list-style: none;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.space-around {
  justify-content: space-around;
}

.big {
  font-size: 2rem;
}

.bigger {
  font-size: 3rem;
}

.bold {
  font-weight: bold;
}

.grid {
  display: grid;
}

.main {
  grid-template: auto / 2.5fr 1fr;
}

.section {
  grid-template: auto / 5rem 1fr;
}

.book-list {
  grid-template-columns: repeat(5, 1fr);
}

.reviews-main {
  grid-template-columns: repeat(3, 1fr);
}

.book-tile {
  grid-template: 1rem 1rem 3rem / auto 1fr 1fr;
  padding-bottom: 1rem;
}

.span-3 {
  grid-column: span 3;
}

.book-tile-title {
  grid-area: 1 / 2 / 2 / 4;
}

.book-tile-author {
  grid-area: 2 / 2 / 3 / 4;
}

.book-tile-img {
  grid-area: 1 / 1 / 6 / 2;
}

.book-tile-buy,
.book-tile-library {
  grid-column: span 2;
}

.book-tile-review {
  grid-column: span 3;
}

.title {
  grid-column: 1 / 3;
}

.currently-reading {
  grid-area: 2 / 2 / 4 / 3;
}

.rotate {
  transform: rotate(-90deg);
}

#btn-2022 {
  grid-area: 1 / 2 / 3 / 2;
}

#read-books-2020,
#read-books-2021 {
  grid-area: 2 / 1 / 3 / 3;
}
